<div class="tabs">
    <ul class="tabs__list">
        <li class="tabs__item _active" data-tab="item">Tab 1</li>
        <li class="tabs__item" data-tab="item">Tab 2</li>
        <li class="tabs__item" data-tab="item">Tab 3</li>
        <li class="tabs__item" data-tab="item">Tab 4</li>
        <li class="tabs__item" data-tab="item">Tab 5</li>
    </ul>
    <div class="tabs__content _active" data-tab="content">1</div>
    <div class="tabs__content" data-tab="content">2</div>
    <div class="tabs__content" data-tab="content">3</div>
    <div class="tabs__content" data-tab="content">4</div>
    <div class="tabs__content" data-tab="content">5</div>
</div>
