<div class="accordion">
    <div class="accordion__item">
        <div class="accordion__header">
            Accordion title #1
            <svg class="accordion__caret">
                <use href="@img/icons/icons.svg#caret"></use>
            </svg>
        </div>
        <div class="accordion__content">
            <div class="accordion__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis asperiores ipsum delectus reiciendis odit unde eaque, sed quisquam reprehenderit aliquid!
            </div>
        </div>
    </div>
    <div class="accordion__item">
        <div class="accordion__header">
            Accordion title #2
            <svg class="accordion__caret">
                <use href="@img/icons/icons.svg#caret"></use>
            </svg>
        </div>
        <div class="accordion__content">
            <div class="accordion__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis asperiores ipsum delectus reiciendis odit unde eaque, sed quisquam reprehenderit aliquid!
            </div>
        </div>
    </div>
    <div class="accordion__item">
        <div class="accordion__header">
            Accordion title #3
            <svg class="accordion__caret">
                <use href="@img/icons/icons.svg#caret"></use>
            </svg>
        </div>
        <div class="accordion__content">
            <div class="accordion__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis asperiores ipsum delectus reiciendis odit unde eaque, sed quisquam reprehenderit aliquid!
            </div>
        </div>
    </div>
</div>
